<%-include("partials/header")%>

<div class="contactContainer">
    <h1 class>Contact Us</h1>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.4611067679107!2d77.11029577522729!3d28.675850182112658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d038dc3b91bc3%3A0x909c31c649a710b0!2sBharati%20Vidyapeeth%20Deemed%20University!5e0!3m2!1sen!2sin!4v1692731351500!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h1>Our Address: </h1>
    <p style="text-align: center;">
      A-4, Paschim Vihar<br />
      New Delhi - 110063
    </p>
    <div style="display:flex; justify-content: space-between;width: 60%">
        <div style="text-align: center; width: 50%;">
            <h5>Phone:</h5>
            <h5>1234554321</h5>
        </div>
        <div style="text-align: center; width: 50%; ">
            <h5>Email:</h5>
            <h5>coedelhi@bharatividyapeeth.edu</h5>
        </div>
    </div>
  </div>

<%-include("partials/footer")%>