<%-include("partials/header")%>
<div class="loginpage">
    <h1>LOGIN: </h1>
    <form action="/" method="get">
        <label for="" style="padding-bottom: 2vh;">Username: </label>
        <input type="text">
        <label for="" style="padding: 2vh 0;">Password: </label>
        <input type="password" >
        <button class="loginbtn" type="submit"style="margin: 2vh 0;">LOGIN</button>
    </form>
</div>
<%-include("partials/footer")%>